/*body{*/
/*  width: 1100px;*/
/*  margin: auto;*/
/*}*/
#carouselOffers {
    height: auto;
}

#carouselOffers img {
    max-height:600px;
}

.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}
.card {
    height: 100%;
}

.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}

body{
  max-width: 1100;
}
.contact-container {
  margin: auto;
  text-align: center;
}

.left {
  float: left;
  margin: 1em 1em 1em 1em;
}
.form-img{
  padding: 20px;
  padding-left: 15px;
  padding-right:15px;
  background-size: cover; 
}
.form-contact{
  margin: auto;
  color: white;
  padding: 20px;
  max-width: 600px;
}
.form-contact p{
  margin-top:10px;
}
.form-group textarea{
  margin-top: 10px;
}
.contact-control{
  background-color: grey;
  border: none;
  color: white;
  border-radius: 0;
 
}
.contact-control::placeholder{
  color: black;
}
.contact-control:focus{
  background-color:  grey;
}
.btn-send{
  width: 200px;
  margin: auto;
  background-color:  grey;
  border-color: purple;
}
